/* Navbar, Herosection */ 

#navbar {
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: space-between; /*컨텐츠와 컨텐츠 사이에 간격을 적절히 주기위한것*/
  background-color: var(--color-pink);
  align-items: center; 
  color: var(--color-white)
  padding: 16px; 
}

.navbar_menu {
  display: flex;  


}
.navbar_menu_item {
  padding: 8px 12px; 
  margin: 0px 4px;
  cursor: pointer;
  color: var(--color-white)
  border-radius: 4px; 
  font-size: smaller; 
  color: white
}

.active {
  color: aqua;
}

.navbar_menu_item:hover {
  background-color: var(--color-blue) ;
  border-radius: 20px; 
}

.navbar-logo {
  font-size: var(--font-medium)
  font-weight: var(--weight-semi-bold)
} 


.tajam{
  width: 80px;
}

#header-images {
  background: url(images/bgk-header.png) center/cover no-repeat;  /* 센터에두고 반응형, 반복하지 않게 쓰이게!  */
  padding: 10px;
  text-align: center;
  height: 500px; 
}

ul {
  list-style: none;
  padding-left: 0;
  font font-family: font-family: 'senrif' 
}

.hr {
  margin: 0 auto;
  width: 30px; 
  background-color: aqua;
}


    h1 {
      color: white;
      margin-top: 80px;
      margin-bottom: 50px;
      font-size: xx-large;
    }

    p {
      color: white;
    }


    #btn-learnMore{
      margin: 24px;  
      padding: 8px 12px; 
      border: 2px solid aqua;
      background-color: transparent;
      color: aqua;
      cursor: pointer; 
      
    }


/*Our Story section*/ 

#our_story-section {
  display: flex; 
  position: relative;
  justify-content: center; 
  allign-items: center; 
}

.our_story-box {
  height: 380px; 
  background-color: white;
  position: relative; 
  display: flex;
}

.ourstorytext_h1_color{
  color: black;
  margin-bottom: 10px;
}

.ourstorytext_p_color {
  color: black
}

.image_our-story .big_logo-image {
  width: 10vw; 
  height: 20vh; 
  margin-left: 350px;
  margin-top: 100px;
}

.our_story-text {
  margin-top: 0 px;
  padding left: 3px; 
  margin-left: 90px;
  text-align: left;
  margin-bottom: 200px;
}

.btn_our-story {
  margin-top:15px;
  padding: 8px 12px; 
  margin left: 12px;  
  border: 2px solid aqua;
  background-color: transparent;
  color: aqua;
  cursor: pointer; 
}

